.topBox{
  background:lightgreen;
  width:200px;
  height:50px;
  border:5px solid green;
  border-top:5px double green;
  border-bottom:5px dotted green;
}

.bottomBox{
  background:lightgreen;
  width:150px;
  height:200px;
  margin-left:25px;
  border:5px solid green;
  border-top:none;
}